@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-light-90e164996c0d4502c3a133aa4c17e367.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-light.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-light-2f642b292d14d75d5f32c9ed72c48474.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-light-577e933026b17c5256164aef57c8ac7d.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-lightitalic-e4ce2e3fc69ab5999229b14c1b7b1f7b.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-lightitalic.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-lightitalic-5beba20ac0c52cb5d991db7e99f71922.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-lightitalic-3e163b665005e7ab43aa97636ee67fd0.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regular-8f6aa7b4c84cda62fd9598512ace9656.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regular.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regular-6a5fb006f7400e3ac2db120a476c56bd.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regular-285bb7a624e3b212549965e043b4546b.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regularitalic-5d5bbb7b9594074483b4fb14aabad53e.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regularitalic.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regularitalic-942cd12f5ca71994cee00dee3d76c1fd.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-regularitalic-995bcc7deafdf240c97092781a1d57ea.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-medium-865d96e7980791a19f49d571fcfafca3.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-medium.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-medium-5a6f039439c1c8e6064e37342270b45a.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-medium-2f16d003b72d02603c7e6c3b668316a7.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-mediumitalic-685339e650c7cf614a5f955fe77b335c.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-mediumitalic.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-mediumitalic-dad21b4b4bbbc99a3f1d500cd73e7ab9.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-mediumitalic-03c0644f01ee5885bbd1278d551b2ab2.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bold-e86ea046b03f22f8be0393f14e98fd81.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bold.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bold-4eb993fdb0c4963ab37df16496655cb8.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bold-7aac7bb86d93b69a5639bf751d58c50b.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "sqmarket";
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bolditalic-27ffd60ac3a8f22a532f4d2c94d65e96.eot);
    src: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bolditalic.eot?#iefix) format("embedded-opentype"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bolditalic-5f1966a90f04ae0392ddc458c2f5ce17.woff) format("woff"), url(https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bolditalic-23900cc22217a2be6f9e39db3972da8f.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

body {
	font-family: sqmarket;
	background-color: white;
}

section {
	background-color: white;	

	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	line-height:120%

	text-align: center;
}

/* h2: title of each section */
section h2 {
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

/* Title of columns */
section h3 {
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	color: rgb(143, 153, 158);
	border-bottom: 1px solid rgb(143, 153, 158);
	padding-bottom: 10px;
}

section p {
	text-align: center;
	/*padding-bottom: 2px;*/
	padding-top: 5px;
	margin-left: 40px;
	margin-right: 40px;
}


.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('Unconf.jpg');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
/*
  -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);*/
}


article#title-bar {
/*background-image: url("Unconf.jpg");*/
	/*background-color: rgb(242, 242, 242);	*/
/*	height: 100%;
	width: 100%;*/
}

article#title-bar h1 {
	font-size: 36px;
	text-align: center;
	color: white;
/*	padding-top: 20px;
	padding-bottom: 20px;
*/	/*font-weight: 700;*/

}

/*article#title-bar p {

	text-align: justify;
	padding-top: 5px;
	margin-left: 40px;
	margin-right: 40px;
}
*/
article#title-bar img {
	/*width: 540px;*/
	/*height: auto;*/
	/*display: block;*/

	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


img.desaturate { -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

/* Puts fact-bar into grey box. */
article#fact-bar {
	background-color: rgb(198, 249, 255);
	padding-top: 20px;
	padding-bottom: 20px;
}

article#fact-bar p {
	text-align: center;
	/*padding-bottom: 2px;*/
	padding-top: 5px;
	margin-left: 40px;
	margin-right: 40px;
}

/* Formatting schedule in #agenda */
#wrap {
   width:550px;
   text-align: left;
}

#left_col {
   float:left;
   width:150px;
}

#right_col {
   float:right;
   width:400px;
}

article#about p {
	max-width: 800px;
	text-align: justify;
}


/* Formatting for columns */
.three-columns, .two-columns {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: horizontal nowrap;
	-moz-flex-flow: horizontal nowrap;
	flex-flow: horizontal nowrap;
}

.three-columns .column, .two-columns .column {
	margin-right: 40px;

}

.three-columns .column {
	width: 100/3%;
}


.three-columns .column:last-child {
	margin-right: 0;
}

.two-columns .column {
	width: 50%;
	text-align: center;
}

